<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="/assets/images/favicon.ico">
  <title>xcursion</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <div class="nav-wrapper #ffffff white">
      <a href="#!" class="brand-logo center"><img src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/magic-marker-icons-culture/115396-magic-marker-icon-culture-state-georgia.png"</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#!"></a></li>
        <li><a href="#!"></a></li>
      </ul>
    </div>
    <%= render partial: "shared/sidenav" %>
  </nav>


<%= yield %>
  <%= render partial: "shared/footer" %>
</body>
</html>
